<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Journey Junction - Trip #1</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden"
      style='--checkbox-tick-svg: url(&apos;data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27rgb(18,21,22)%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z%27/%3e%3c/svg%3e&apos;); font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'
    >
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f1f3f4] px-10 py-3">
          <div class="flex items-center gap-4 text-[#121516]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_535)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M47.2426 24L24 47.2426L0.757355 24L24 0.757355L47.2426 24ZM12.2426 21H35.7574L24 9.24264L12.2426 21Z"
                    fill="currentColor"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_6_535"><rect width="48" height="48" fill="white"></rect></clipPath>
                </defs>
              </svg>
            </div>
            <h2 class="text-[#121516] text-lg font-bold leading-tight tracking-[-0.015em]">Journey Junction</h2>
          </div>
        </header>
        <div class="px-4 md:px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#121516] tracking-light text-2xl md:text-[32px] font-bold leading-tight">Masungi Georeserve Trip Details - Saturday, June 14, 2025</p>
                <p class="text-[#6a7881] text-base md:text-sm font-normal leading-normal">Here's everything you need to know for your upcoming adventure.</p>
              </div>
            </div>
            <h2 class="text-[#121516] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Itinerary</h2>
            <div class="grid grid-cols-[40px_1fr] gap-x-2 px-4">
              <div class="flex flex-col items-center gap-1 pt-3">
                <div class="text-[#121516]" data-icon="Car" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M240,112H229.2L201.42,49.5A16,16,0,0,0,186.8,40H69.2a16,16,0,0,0-14.62,9.5L26.8,112H16a8,8,0,0,0,0,16h8v80a16,16,0,0,0,16,16H64a16,16,0,0,0,16-16V192h96v16a16,16,0,0,0,16,16h24a16,16,0,0,0,16-16V128h8a8,8,0,0,0,0-16ZM69.2,56H186.8l24.89,56H44.31ZM64,208H40V192H64Zm128,0V192h24v16Zm24-32H40V128H216ZM56,152a8,8,0,0,1,8-8H80a8,8,0,0,1,0,16H64A8,8,0,0,1,56,152Zm112,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H176A8,8,0,0,1,168,152Z"
                    ></path>
                  </svg>
                </div>
                <div class="w-[1.5px] bg-[#dde1e3] h-2 grow"></div>
              </div>
              <div class="flex flex-1 flex-col pt-3 pb-5"><p class="text-[#121516] text-base font-medium leading-normal">Transportation Schedule</p></div>
              <div class="flex flex-col items-center gap-1">
                <div class="w-[1.5px] bg-[#dde1e3] h-2"></div>
                <div class="text-[#121516]" data-icon="Backpack" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M168,40.58V32A24,24,0,0,0,144,8H112A24,24,0,0,0,88,32v8.58A56.09,56.09,0,0,0,40,96V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V96A56.09,56.09,0,0,0,168,40.58ZM112,24h32a8,8,0,0,1,8,8v8H104V32A8,8,0,0,1,112,24Zm56,136H88v-8a8,8,0,0,1,8-8h64a8,8,0,0,1,8,8ZM88,176h48v8a8,8,0,0,0,16,0v-8h16v40H88Zm112,40H184V152a24,24,0,0,0-24-24H96a24,24,0,0,0-24,24v64H56V96A40,40,0,0,1,96,56h64a40,40,0,0,1,40,40V216ZM152,88a8,8,0,0,1-8,8H112a8,8,0,0,1,0-16h32A8,8,0,0,1,152,88Z"
                    ></path>
                  </svg>
                </div>
                <div class="w-[1.5px] bg-[#dde1e3] h-2 grow"></div>
              </div>
              <div class="flex flex-1 flex-col pt-3 pb-5"><p class="text-[#121516] text-base font-medium leading-normal">Hike Inventory Checklist</p></div>
              <div class="flex flex-col items-center gap-1 pb-3">
                <div class="w-[1.5px] bg-[#dde1e3] h-2"></div>
                <div class="text-[#121516]" data-icon="Wine" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M205.33,95.67,183.56,21.74A8,8,0,0,0,175.89,16H80.11a8,8,0,0,0-7.67,5.74L50.67,95.67a63.46,63.46,0,0,0,17.42,64.67A87.39,87.39,0,0,0,120,183.63V224H88a8,8,0,1,0,0,16h80a8,8,0,1,0,0-16H136V183.63a87.41,87.41,0,0,0,51.91-23.29A63.46,63.46,0,0,0,205.33,95.67ZM86.09,32h83.82L190,100.19c.09.3.17.6.25.9-21.42,7.68-45.54-1.6-58.63-8.23C106.43,80.11,86.43,78.49,71.68,80.93ZM177,148.65a71.69,71.69,0,0,1-98,0,47.55,47.55,0,0,1-13-48.46l.45-1.52c12-4.06,31.07-5.14,57.93,8.47,11.15,5.65,29.16,12.85,48.43,12.85a68.64,68.64,0,0,0,19.05-2.6A47.2,47.2,0,0,1,177,148.65Z"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="flex flex-1 flex-col pt-3 pb-5"><p class="text-[#121516] text-base font-medium leading-normal">Post-Hike Plans</p></div>
            </div>
            <h2 class="text-[#121516] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Transportation Schedule</h2>
            <p class="text-[#121516] text-base font-normal leading-normal pb-3 pt-1 px-4">
	    1. Xavi, Helen, and Jay leave <a href="https://maps.app.goo.gl/8iB2jAdmrSNQGrj27" class="text-blue-600 underline">110 C. Palanca, Makati City</a>, at 04:30AM
            </p>
            <p class="text-[#121516] text-base font-normal leading-normal pb-3 pt-1 px-4">
2. Xavi picks up Therese and Ysabel at Rockwell at 05:00AM
            </p>
            <p class="text-[#121516] text-base font-normal leading-normal pb-3 pt-1 px-4">
	    3. Xavi drives to <a href="https://maps.app.goo.gl/Aw1BcVSrEEGkRhZS6" class="text-blue-600 underline">Corinthian Hills, QC</a> arriving at 05:30AM
            </p>
            <p class="text-[#121516] text-base font-normal leading-normal pb-3 pt-1 px-4">
4. Xavi, Helen, Seb, Therese, Ysabel, Jay, Roman, and Roman's friend transfer to Seb’s van, depart 05:30AM
            </p>
            <p class="text-[#121516] text-base font-normal leading-normal pb-3 pt-1 px-4">
	    5. Arrive at <a href="https://maps.app.goo.gl/ghYo6A8utRzpVCseA" class="text-blue-600 underline">Masungi Georeserve</a> 06:30AM-07:00AM
            </p>
            <p class="text-[#121516] text-base font-normal leading-normal pb-3 pt-1 px-4">
6. Hike Call Time is at 07:00AM, June 14, 2025
            </p>
            <h2 class="text-[#121516] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Hike Inventory Checklist</h2>
            <div class="px-4">
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Water bottle</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Snack</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Hiking shoes</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Change of clothes</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Sunscreen</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Sunglasses</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Hat / Cap</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Power bank and charging cable</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Phone</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">ID</p>
              </label>
              <label class="flex gap-x-3 py-3 flex-row">
                <input type="checkbox" class="h-5 w-5 rounded border-[#dde1e3] border-2 bg-transparent text-[#b2d1e5] checked:bg-[#b2d1e5] checked:border-[#b2d1e5] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#dde1e3] focus:outline-none"/>
                <p class="text-[#121516] text-base font-normal leading-normal">Raincoat</p>
              </label>
            </div>
            <h2 class="text-[#121516] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Post-Hike Plans</h2>
            <p class="text-[#121516] text-base font-normal leading-normal pb-3 pt-1 px-4">
	    The hike concludes around 12:00 PM, followed by lunch in somewhere in Rizal. Seb will drive all of us back to <a href="https://maps.app.goo.gl/Aw1BcVSrEEGkRhZS6" class="text-blue-600 underline">Corinthian Hills, QC</a>.
            </p>
            <h2 class="text-[#121516] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Payment Details</h2>
            <div class="p-4 grid grid-cols-1 md:grid-cols-[20%_1fr] gap-4 md:gap-x-6">
              <div class="col-span-1 md:col-span-2 grid md:grid-cols-subgrid border-t border-t-[#dde1e3] py-5">
                <p class="text-[#6a7881] text-sm font-normal leading-normal">Total Amount</p>
                <p class="text-[#121516] text-sm font-normal leading-normal">Php 12,600.00</p>
              </div>
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dde1e3] py-5">
                <p class="text-[#6a7881] text-sm font-normal leading-normal">Payment Method</p>
                <p class="text-[#121516] text-sm font-normal leading-normal">Bank Transfer</p>
              </div>
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dde1e3] py-5">
                <p class="text-[#6a7881] text-sm font-normal leading-normal">Payment Status</p>
                <p class="text-[#121516] text-sm font-normal leading-normal">Paid</p>
              </div>
            </div>
	    <p class="text-[#121516] text-base font-normal leading-normal pb-3 pt-1 px-4">Xavi has pre-paid for 7 guests at Php 1,800.00 per guest. <b>Please pay Php 1,800.00 to any of the QR codes below.</b></p>
            <div class="px-4">
              <img src="/bpi-qr-xavi.png" alt="Xavi's BPI QR Code" class="w-full max-w-md rounded-lg shadow-md"/>
            </div>
            <div class="px-4">
              <img src="/ub-qr-xavi.png" alt="Xavi's UB QR Code" class="max-w-md rounded-lg shadow-md"/>
            </div>
            <div class="px-4">
              <img src="/gcash-qr-xavi.png" alt="Xavi's GCash QR Code" class="max-w-md rounded-lg shadow-md"/>
            </div>
            <div class="px-4">
              <img src="/maya-qr-xavi.png" alt="Xavi's Maya QR Code" class="max-w-md rounded-lg shadow-md"/>
            </div>
            <div class="px-4">
              <img src="/komo-qr-xavi.png" alt="Xavi's Komo QR Code" class="max-w-md rounded-lg shadow-md"/>
            </div>
            <div class="px-4">
              <img src="/masungi-payment-proof.jpg" alt="Payment proof for Masungi Georeserve booking" class="max-w-md rounded-lg shadow-md"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

